@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    padding-bottom: 100px;
}

footer {
    /* position: sticky /*for small windows and fixed for larger windows;*/
    position: fixed;
    bottom: 0px;
    background-color: greenyellow;
    width: 100%;
    padding: 10px 24px 10px 0px;
}

img {
    height: 200px;
    border-radius: 15%;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    transition-duration: 0.5s;
    box-shadow: 1px 1px 1px 1px black;
}

img:hover {
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 30%;
    opacity: 90%;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:  orange;
}

a {
    color: green;
    text-decoration: none;
    transition: 0.5s 1s;
}

a:hover {
    color: rgb(0, 116, 0);
    text-shadow: orange 0px 0px 30px;
}

h1 {
    color: green;
    font-family: cursive;
    transition: 5s;
}

h1:hover {
    transform: translate(25%);
    background-color: orange;
}

h2 {
    color: green;
    font-family: cursive;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}